#result{
    display: none;
    background-color: whitesmoke;
    width: 90%;
    text-align: center;
    word-break: keep-all;
    border-radius: 20px;
}

.resultname{
    font-size: 24px;
    word-break: keep-all;
}
.resultDesc{
    font-size: 18px;
    word-break: keep-all;
}

.kakao{
    color: white;
    background-color: #FEE500;
    font-size: 18px;
    border: 0px;
    border-radius: 20px
}

.kakao:hover, .kakao:focus{
    background-color: whitesmoke;
    color: #FEE500;
}