#result2{
    display: none;
    background-color: whitesmoke;
    width: 90%;
    text-align: center;
    border-radius: 20px;
}

.explain{
    font-size: 18px;
}

#resultChart{
    display: block;
    text-align: center;
    margin: 0 auto;
}

#resultTable{
    display: block;
    text-align: center;
    margin: 0 auto;
}

.table-container {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: auto;
    font-size: 13px;
  }

.table-container-1 {
border-collapse: collapse;
text-align: left;
line-height: 1.5;
border: 1px solid #ccc;
margin: auto;
font-size: 13px;
}

.table-container-2 {
border-collapse: collapse;
text-align: left;
line-height: 1.5;
border: 1px solid #ccc;
margin: auto;
font-size: 13px;
}

table {
border-right: 1px solid #ccc;
border-left: 1px solid #ccc;
background: #fcf1f4;
}
thead th {
padding: 10px;
font-weight: bold;
vertical-align: top;
color: #fff;
}
tbody th {
width: 150px;
padding: 10px;
font-weight: bold;
vertical-align: top;
border-bottom: 1px solid #ccc;
background: #fcf1f4;
}
td {
width: 350px;
padding: 10px;
vertical-align: top;
border-bottom: 1px solid #ccc;
}